/* pages/ShowAll/ShowAll.css

.showall{
    padding: 3rem 0;
}
.showall-content{
    gap: 4rem;
}
.showall-title{
    margin: 1rem 0;
}
.showall-img img{
    max-width: 520px;
}
.showall-text p{
    margin: 1.8rem 0;
    opacity: 0.8;
}

@media screen and (min-width: 800px){
    .showall-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .showall-title{
        margin-top: 0;
    }
    .showall-img img{
        margin-left: 0;
    }
} */