/* pages/About/MyProfile.css */

.myprofile{
    padding: 3rem 0;
}
.myprofile-content{
    gap: 4rem;
}
.section-title{
    margin: 1rem 0;
}
.myprofile-img img{
    max-width: 520px;
}
.myprofile-text p{
    margin: 1.8rem 0;
    opacity: 0.8;
}

@media screen and (min-width: 800px){
    .myprofile-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .myprofile-title{
        margin-top: 0;
    }
    .myprofile-img img{
        margin-left: 0;
    }
}